a.active {
    color: rgb(16 185 129);
}

.translate select{
    padding: 5px;
    border-radius: 5px;
}

.translate div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.scroll-to-top-btn {
    /* Existing styles... */
    bottom: -100%;
    /* Initially position the button off-screen */
    transition: all ease-in-out;
    transition-duration: 0.5s;
    transition-delay: 0s;
    /* Add smooth transition */
}

.scroll-to-top-btn.visible {
    bottom: 0px;
    /* Move the button to its intended position */
}